:3000 {
    encode gzip

    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
    }

    handle /api/* {
        rewrite * /todo{uri}
        reverse_proxy localhost:8080
    }

    handle {
        root * /var/www/ccdl-todoapp
        try_files {path} /index.html
        file_server
    }
}